body{
    border: 0;
    padding: 0;
    margin: 0;
    background-size: 150%;
    background-position: center;
    background-image: url("3461470.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#card{
    position: absolute;
    border-radius: 9px;
    width: 150px;
    height: 200px;
    top: 50%;
    background-color: rgb(158, 167, 167);
    background-image: url();
    transition: 0.15s;
    
}

#card:hover{
    box-shadow: 3px 5px 9px rgb(98, 100, 100);

}

#packCards{
    position: absolute;
    border-radius: 9px;
    width: 150px;
    height: 200px;
    background-color: yellow;


}